<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="card">
      <%= form_for @user do |f| %>
          <div class="input-text">
            <%= f.label :first_name, "Nombre" %>
            <%= f.text_field :first_name, :autofocus => true, :placeholder => "Juan" %>
          </div>
          <div class="input-text">
            <%= f.label :last_name, "Apellido" %>
            <%= f.text_field :last_name, :placeholder => "Perez" %>
          </div>
          <div class="input-text">
            <%= f.label :mail, "e-mail" %>
            <%= f.email_field :mail, :placeholder => "juan.perez@mail.com" %>
          </div>
          <div class="input-text">
            <%= f.label :password, "Contraseña" %>
            <%= f.password_field :password %>
          </div>
          <%= f.submit "Crear" %>
      <% end %>
    </div>
  </div>
</div>