<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <%= form_for ([@user, @user.orders.build]) do |f| %>
        <div class="form-group">
          <%= f.label :delivery_date, "Fecha de Entrega" %>
          <div class="input-group date">
            <%= f.text_field :delivery_date, id: "datetimepicker_delivery", class: "form-control" %>
            <span class="input-group-addon">
              <span class="glyphicon glyphicon-calendar"></span>
            </span>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :company, "Cervería" %>
          <%= f.select :company, Company.all.collect {|c| [c.name, c.id]}, {include_blank: true}, {:class => "form-control", :id => "company"} %>
        </div>
        <div id="product">
          <%= f.label :product %>
          <%=	f.select :product, Product.all.collect {|p| [p.name, p.id]}, {include_blank: true}, {:class => "form-control"} %>

        </div>
        <%= f.submit "Crear Pedido", class: "btn secondary-color pull-right" %>
    <% end %>
  </div>
</div>

<script>
  $(function () {
      $('#datetimepicker_delivery').datetimepicker({
          format: 'YYYY-MM-DD hh:mm:ss ZZ'
      });
  })
</script>