<nav class="navbar navbar-default navbar-fixed-top primary-color">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed primary-alternative" data-toggle="collapse" data-target="#navigation-bar" aria-expanded="false">
        <span class="sr-only">Menú</span>
        <span class="glyphicon glyphicon-option-vertical"></span>
      </button>
      <a class="navbar-brand prevent-default primary-link" href="#">Brew Point</a>
    </div>

    <div class="collapse navbar-collapse" id="navigation-bar">
      <% if current_user %>
          <ul class="nav navbar-nav">
        <% if current_user.company? %>
              <li>
                <%= link_to company_products_path(current_user.company), :class => "primary-link" do %>
                    <span class="glyphicon glyphicon-tint" aria-hidden="true"></span> Productos
                <% end %>
              </li>
              <li>
                <%= link_to company_suppliers_path(current_user.company), :class => "primary-link" do %>
                    <span class="glyphicon glyphicon-phone-alt" aria-hidden="true"></span> Proveedores
                <% end %>
              </li>
              <li>
                <%= link_to company_supplies_path(current_user.company), :class => "primary-link" do %>
                    <span class="glyphicon glyphicon-grain" aria-hidden="true"></span> Insumos
                <% end %>
              </li>
              <li>
                <%= link_to company_recipes_path(current_user.company), :class => "primary-link" do %>
                    <span class="glyphicon glyphicon-pushpin" aria-hidden="true"></span> Recetas
                <% end %>
              </li>
        <% else %>
              <li>
                <%= link_to new_company_path, :class => "primary-link" do %>
                      <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Crear Fabrica
                <% end %>
              </li>
        <% end %>
          </ul>
        <ul class="nav navbar-nav pull-right">
          <% if current_user.company? %>
          <li>
            <%= link_to current_user.company.name, "#", class: "primary-link" %>
          </li>
          <% end %>
          <li class="dropdown">
            <a id="dLabel" data-target="#" href="#" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle primary-link">
              <%= current_user.name %>
              <span class="caret"></span>
            </a>
            <ul class="dropdown-menu" aria-labelledby="dLabel">
              <li><%= link_to "Cerrar Sesión", logout_path, method: "delete" %></li>
            </ul>
          </li>
        </ul>
       <% else %>
          <ul class="nav navbar-nav pull-right">
            <li><%= link_to "Iniciar Sesión", login_path, class: "primary-link" %></li>
          </ul>
        <% end %>
    </div>
  </div>
</nav>