<ul class="list-inline pull-right options">
  <li>
    <%= link_to edit_company_supplier_path(@company, s), {:remote => true} do %>
        <span class="edit glyphicon glyphicon-pencil" aria-hidden="true"></span>
    <% end %>
  </li>
  <li>
    <%= link_to company_supplier_path(@company, s), method: 'delete' do %>
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
    <% end %>
  </li>
</ul>
<div class="title"><h4><%= s.name %></h4></div>
<div class="separator"></div>
<div class="info">
  <strong>Direccion</strong><p><%= s.address %></p>
  <strong>Teléfono </strong><p><%= s.phone %></p>
  <strong>e-mail </strong><p><%= s.mail %></p>
  <strong>Descripción </strong><p><%= s.description %></p>
</div>
<i class="supplies-from-suppliers"><%= s.supplies.all.map(&:name).join(", ") %></i>