<div class="row">
  <div class="col-md-offset-3 col-md-6">
    <div class="card">
      <%= form_for @supplier, url: company_suppliers_path(@company) do |f| %>
          <div class="input-text">
            <%= f.label :name, "Nombre" %>
            <%= f.text_field :name, placeholder: "Proveedor", autofocus: true %>
            <% if @supplier.errors.any? && @supplier.errors[:name] %>
                <div class="error-message">
                  <% @supplier.errors[:name].each do |m| %>
                      <%= m %>
                  <% end %>
                </div>
            <% end %>
          </div>
          <div class="input-text">
            <%= f.label :address, "Dirección" %>
            <%= f.text_field :address, placeholder: "Dirección" %>
          </div>
          <div class="input-text">
            <%= f.label :phone, "Teléfono" %>
            <%= f.phone_field :phone, placeholder: "Teléfono" %>
          </div>
          <div class="input-text">
            <%= f.label :mail, "Mail" %>
            <%= f.email_field :mail, placeholder: "Mail" %>
          </div>
          <div class="input-text">
            <%= f.label :description, "Descripción" %>
            <%= f.text_field :description, placeholder: "Descripción" %>
          </div>
          <div class="buttons">
            <%= f.submit "Crear Proveedor" %>
            <div class="cancel">
              <%= link_to :back do %>
                  <span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancelar
              <% end %>
            </div>
          </div>
      <% end %>
    </div>
  </div>
</div>